body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
}

a:hover {
    text-decoration: none;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 800px;
}

.center {
    margin: auto;
}

.text-center {
    text-align: center;
}

.home_search-form {
    width: 500px;
    margin-top: 100px;
}

.search-field {
    width: 400px;
    margin-bottom: 20px;
}

.content-wrap {
    display: inline-block;
}

.search_result-table {
    width: 800px;
    max-width: 800px;
    max-height: 250px;
}

.table_cell-title {
    width: 19%;
    font-weight: bold;
    background-color: #f5f5f5;
}

.table_cell-value a:hover {
    background-color: #dcf7ee;
    border-radius: 4px;
    text-decoration: none;
}
.table_cell-value a {
    color: black;
}

.table_cell-img {
    width: 250px;
    height: 250px;
    font-size: xx-large;
    vertical-align: middle;
    text-align: center;
    display:table-cell;
    border: ridge 1px;
}

.table_cell-img_full {
    width: auto;
    height: auto;
    display: block;
}

.table_cell-img canvas {
    max-height: 250px !important;
    max-width: 250px !important;
}

.bordered {
    border: 1px solid #9f9797;
}

table td {
    padding: 2px;
}

body {
    margin-bottom: 50px;
}

li {
    padding: 5px;
}

hr {
    /*margin: 50px 0;*/
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table td {
    padding: 10px 4px;
}

.well hr {
    margin: 30px 0 30px;
}

.jumbotron h2 {
    margin-top: 0;
}

.text-muted {
    margin-bottom: 20px;
}

.chem_elem-short {
    width: 25px;
    display: inline-block;
}

.chem_elem-long {
    width: 100px;
    display: inline-block;
}

.advancedSearch_item {
    width: auto;
    margin: 10px 0;
}

.advancedSearch_label {
    width: 180px;
    display: inline-block;
    text-align: left;
}

.advancedSearch_input {
    width: 150px;
    display:inline-block;
    height: 25px;
}

.advancedSearch_input-alone {
    width: 150px;
    display:inline-block;
    height: 25px;
    margin-right: 226px;
}

.advancedSearch_rigth {
    width: 800px;
}

.advancedSearch_dimension {
    display: inline-block;
    width: 60px;
    text-align: left;
}

.button {
    text-decoration: none !important;
    color: #337ab7;
    width: 150px;
    display: inline-block;
    border: #e8e5e5 solid 1px;
    border-radius: 5px;
    background-color: #f5f5f5;
    padding:2px;
    text-align:center;
    text-transform: lowercase;
    font-family: Arial, sans-serif;
}

input[type="button"]:hover, input[type="submit"]:hover, a:hover .button {
    border-width: 2px;
    padding: 1px;
    cursor: pointer !important;
    background-color: #e8f2f2;
}

.menu-img {
    width: 130px;
    padding: 10px;
    vertical-align: top;
}

.menu-form {
    display: inline-block;
}

.menu-title {
    font-size: 28px;
    padding-top: 20px;
}

.home-img {
    width: 200px;
}