packages/
spider/bin/
spider/obj/
chem/obj/
chem/bin/
database/bin/
database/obj/
tmp.ModelsTester/bin/
tmp.ModelsTester/obj/
Common/bin/
Common/obj/
bu.bak
UnitTestProject/bin/
UnitTestProject/obj/
Chem.Models/bin/Debug/
Chem.Models/obj/
Chem.Services/bin/
Chem.Services/obj/
*/bin/
/tmp.ModelsTester/bin
/chem/bin
/database/bin
.vs
*/obj/