<form class="center text-center home_search-form" data-ng-submit="search()">
    <a href="/" title="На главную"><img src="/Content/logo.png" class="home-img"></a>
    <p class="menu-title"><a href="/" title="На главную">БОЛЬШОЙ СПРАВОЧНИК ХИМИЧЕСКИХ ВЕЩЕСТВ</a></p>
    <input type="text" placeholder="Введите название или формулу вещества" data-ng-model="query.q" class="search-field" />
    <input type="submit" class="button" value="Поиск">
    <a data-ng-click="advancedSearch()"><span class="button">Расширенный поиск</span></a>
    <div class="text-left example">
	    <p>Примеры запросов:</p>
	    <p class="exampleSearch"><a class="pointer" data-ng-click="searchExample('соляная кислота')">соляная кислота</a></p>
	    <p class="exampleSearch"><a class="pointer" data-ng-click="searchExample('H3CCH2CH2COOH')">H3CCH2CH2COOH</a></p>
    </div>
</form>



